[Unit]
Description=Python Backend Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/tomerkadison2/docker-zip/back-end/back-end
ExecStart=/usr/bin/sudo /home/tomerkadison2/venv/bin/python /home/tomerkadison2/docker-zip/back-end/back-end/app.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target